# env
.env
.env.local
.env.*.local

# Next.js
.next/
out/

# Dependencies
node_modules/

# Build
dist/
build/

# Logs
npm-debug.log*
yarn-debug.log*
yarn-error.log*

# OS
.DS_Store
Thumbs.db

FrontEnd/

# Editor
.vscode/
.idea/
*.suo
*.ntvs*
*.njsproj
*.sln

# TypeScript
*.tsbuildinfo
next-env.d.ts